/* Footer */
.FooterContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 127px;
    margin-top: 20px;
}
.FooterBlock {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.FooterText {
    font-weight: 800;
    font-size: 18px;
    color: #ebff00;
    margin: 0;
}
